---
layout: default
title: Inicio
---

<!--
<div class="introduction">
  <p class="centered"><em>Quiero vivir libre y llegar a ser un gran desarrollador de software profesional</em>. <br><strong>Tu... ¿te apuntas a la aventura de vivir tu vida como realmente quieres?</strong></p>

  {% include newsletter.html %}
  <p>También puedes usar el enlace <a href="{{ site.baseurl }}/feed.xml">RSS</a> para añadir este blog a tu lector de noticias.</p>
</div>
-->
<hr> 
<div class="toc">
  <h2>Artículos publicados</h2>
  <ul class="post">
  {% for item in site.texts reversed %}
  
    <li class="post-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endfor %}
  </ul>  

</div>



