---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <p class="myAuthor">Autor {{ page.author }} - {{ page.date | date: "%B %-d, %Y" }}</p>
  {{ content }}

  <br>
  <p>
  	Te invito a que dejes un comentario más abajo y me digas que opinas al respecto.
  </p>
  {% include social-media.html %}

</div>
<hr>
<div id="disqus_thread"></div>
<script>

var disqus_config = function () {
    this.page.url = '{{ site.baseurl }}';
    this.page.identifier = '{{ page.url }}';
};

(function() {
    var d = document, s = d.createElement('script');
    s.src = '//jolouster.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>