---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  {{ content }}

  <br>
  <p>
  	Te invito a que dejes un comentario más abajo y me digas que opinas al respecto. Si te ha gustado, puedes <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via=jolouster" target="_blank">compartirlo</a> o <a href="https://twitter.com/jolouster">puedes seguirme en Twitter</a>
  </p>
  <p>
    Si te ha gustado este artículo te invito a suscribirte a la lista de correo.
  </p>
  {% include newsletter.html %}
  <p>Tranquilo, odio el spam y prometo no compartir con nadie tus datos. También puedes usar el enlace <a href="{{ site.baseurl }}/feed.xml">RSS</a></p>
</div>
<hr>
<div id="disqus_thread"></div>
<script>

var disqus_config = function () {
    this.page.url = '{{ site.baseurl }}';
    this.page.identifier = '{{ page.url }}';
};

(function() {
    var d = document, s = d.createElement('script');
    s.src = '//jolouster.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>